<form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">

                <label for="nome">Codigo</label>
                <input type="text" class="form-control" name="codigo"
                id="codigo"  placeholder="Codigo" [(ngModel)]=usuario.codigo>
                
              </div>
   
    <div class="form-group">

      <label for="nome">Name</label>
      <input type="text" class="form-control" name="nome"
      id="nome"  placeholder="Nome" [(ngModel)]=usuario.nome>
      
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
